{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h1 class="display-5 fw-bolder text-white mb-2" >Agregar un curso</h1>
{% endblock titulo %}
    

{% block contenido %}
<form action="" method="post">
    {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>
    
    <input type="submit" value="Enviar">
</form>
{% endblock contenido %}

{% block footer %}

<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">curso agregado exitosamente</p></div>
</footer>

{% endblock footer %}