{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h1 class="display-5 fw-bolder text-white mb-2" >Estudiantes</h1>
{% endblock titulo %}
    

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Estudiantes</h2></td>
        <td>
            <a
            href="{% url 'estudiante_create' %}"
            ><button type="button" class="btn btn-outline-primary">+</button></a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
{% for e in estudiante_list  %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.apellido }}</td>
            <td>{{ e.email }}</td>
            <td>
              <a
                href="{% url 'estudiante_delete' e.id %}" ><button type="button" class="btn btn-outline-danger">borrar</button>
              </a>                
            </td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}