{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h1 class="display-5 fw-bolder text-white mb-2">Profesores</h1>
{% endblock titulo %}
    

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Profesores</h2></td>
        <td>
            <a
            href="{% url 'profesorCrear' %}"
            ><button type="button" class="btn btn-outline-primary">+</button></a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Profesión</th>

        </tr>
    </thead>
    <tbody>
{% for p in profesores  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.profesion }}</td>
            <td>
              <a
                href="{% url 'profesorBorrar' p.id %}">
                <button type="button" class="btn btn-outline-danger">Borrar</button>
              </a>                
            </td>

        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}